<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn">
    <Properties>
        <Property name="info-pattern">[%thread] %date{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level %location - %msg%n</Property>
        <Property name="folder">logs</Property>
        <Property name="info-filename">concurentinserter</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file" fileName="${folder}/${info-filename}.log" filePattern="${folder}/$${date:yyyy-MM}/${info-filename}-%d{yyyy-dd-MM}.%i.log.gz">
            <PatternLayout pattern="${info-pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${info-pattern}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="file" />
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>